@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+J+Guides:ital@0;1&display=swap');
:root{
    --primary-color: #6366F1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
}
*{
    margin:0;
    padding:0;
    font-family: 'Inter',sans-serif;
    text-decoration:none;
}
body{
    height:100vh;
    text-align:center;
    background-color: var(--background-color);
    padding:0.1rem;
}
.header-content{
    max-width:1280px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color:var(--text-color);
    text-decoration: none;
    gap:0.6rem;
}
.logo-icon{
    height:5.875rem;
    width:1.938rem;
    object-fit: cover;
    border-radius: 50px;
}
.logo-text{
    font-size: 3rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap:1.5rem;
}
@media screen and (min-width:768px){
    .nav{
        display: flex;
    }
}
.nav-link{
    color:#718086;
    font-size: 1.125rem;
    font-weight: 600;
    transition:color 0.1s
}
.nav-link:hover{
    color:var(--link-color);
}
.contact-button{
    display:none;
    border:none;
    border-radius:0.375rem;
    background-color: var(--primary-color);
    color:var(--background-color);
    transform:all 0.1s;
    padding:0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and (min-width:768px) {
    .contact-button{
        display:block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
    display: none;
}
@media screen and (max-width:768px){
    .menu-button{
        display: block;
        border:none;
        border-radius:0.375rem;
        font-size: 1rem;
        font-weight: 600;
        background-color:var(--background-color);
        padding:0.5rem 0.9rem;
    }
}
.menu-icon{
    height:1.5rem;
    width:1.5rem;
    object-fit: cover;
}
.main-section{
    max-width:1280px;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:0.6rem;
    align-items: center;
    margin:0 auto;
}
.content-left{
    display: flex;
    flex-direction: column;
    text-align:center;
    animation:slideFromleft 1s ease forwards;
    opacity:0; 
}
@keyframes slideFromleft {
    0%{
        opacity:0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX()0;
    }
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color:var(--primary-color)
}
.section-title{
    font-size: 2.25rem;
    padding:1rem;
    color:var(--text-color);
}
.section-description{
    color:var(--gray);
    font-size:1.13rem;
}
.button-group{
    display: flex;
    flex-direction:row;
    gap:2rem;
    padding:1rem;
    margin-top:2rem;
    align-items: center;
    justify-content: center;
}
.start-button,
.tour-button{
    border:none;
    border-radius:0.375rem;
    background-color: var(--primary-color);
    color:var(--background-color);
    transform:all 0.1s;
    padding:0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.tour-button{
    background-color:var(--dark-gray)
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--gray);
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container{
    border:none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height:57vh;
    width:57vw;
}
.section-image{
    height:100vh;
    width:70vw;
    object-fit: cover;
}
@media screen and (min-width:768px){
    .main-section{
        flex-direction:row;
    }
    .content-left{
        min-width:50%;
        text-align: left;
    }
    .section-left{
        padding-left:0;
    }
    .button-group{
        padding-top: 0;
        justify-content: start;
        padding-left: 1.5rem;
    }
    .section-label{
        font-size:1rem;
        padding:0 1.5rem;
    }
    .section-title{
        font-size:3.8rem;
    }
    .section-desciption{
        font-size: 1rem;
        color: var(--gray);
        width:75%;
        padding:1.5rem;
    }
    .image-container{
        height:70vh;
        width:35vw;
    }
}
.company-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    animation:slideFromleft 1s ease forwards;

}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 900px;
    width: 100%;
    margin: 1.5rem auto;
    padding: 1.5rem 2rem;
    background-color: var(--light-gray);
    border-radius: 0.625rem;
}
@media screen and (min-width: 640px){
    .company-grid{
        grid-template-columns: repeat(4, 1fr);
    }
}
.company-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}
.c-logo{
    height: 40px;
}
.company-text{
    font-size:1.1rem;
    color:var(--gray);
    font-weight:600;
}
.feature-container{
    background-color: var(--light-gray);
    padding:2.5rem 0;
    text-align: center;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-content{
    max-width:800px;
    margin:0 auto;
    padding:0 2rem;
}
.main-info{
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.main-title{
    font-size:2.2rem;
    font-weight: Bold;
}
.main-desc{
    color:var(--gray);
    font-size:1rem;
}
.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-top:1.3rem;
    grid-gap: 2rem;
}
.feature-img{
    width:2.5rem;
    height:2.5rem;
    object-fit: cover;
    overflow: hidden;
}
.icon-container{
    background-color: var(--background-color);
    height:3rem;
    width:3rem;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    padding:1.6rem;
    border-radius:1rem;
    gap:1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.feature-title{
    color: white;
    font-size:1.3rem;
    font-weight: Bold;
}
.feature-desc{
    color:white;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #fcba58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
@media screen and (max-width: 768px){
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-container{
        width:100vw;
    }
}
.testimonial-container{
    background-color: var(--background-color);
    padding:2rem;
    margin:0 auto;
    max-width:1280px;
    margin:auto;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.testimonial-title{
    font-size:1.875rem;
    font-weight:bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:2rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius:1rem;
    box-shadow:0 2px 4px rgba(32, 31, 31, 0.1);
    padding:1.2rem;
    gap:1rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform:scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 2px solid blue;
}
.testimonial-avatar{
    height:5rem;
    width:5rem;
}
.tesimonial-img{
    object-fit: cover;
    height: 5rem;
    width:5rem;
    border-radius: 50%;
}
.testimonial-text{
    font-size:0.875rem;
    color:#555;
}
.testimonial-name{
    color:var(--primary-color);
    font-size:1rem;
}
.testmonial-desc{
    font-size:0.875rem;
    color:#777;
}
.newsletter-container{
    background-color: var(--background-color);
    max-width:1280px;
    height:40vh;
    margin:0 auto;
}
.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height:100%;
    border-radius: 8px;
    overflow: hidden;
}
.news-left{
    height:100%;
    width:50%;
    display: none;
    position:relative;
}
.news-left img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.news-right{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:0.5rem;
    justify-content: center;
    align-items: start;
    width:98%;
}
@media screen and (min-width:640px){
    .news-left{
        display: block;
        width:50%;
    }
    .news-right{
        width:50%;
    }
    .newsletter-container{
        padding:2rem;
    }
}
.news-info{
    padding:0 3rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.news-title{
    font-size:1.8rem;
    font-weight: bold;
    color:var(--primary-color);
}
.news-desc{
    text-align: left;
    color:#777;
    padding:0 3rem;
}
.news-form{
    padding:0 3rem;
    display: flex;
    flex-wrap:wrap;
    margin-bottom:1rem;
    gap:0.6rem;
}
.news-email{
    background-color: var(--background-color);
    /* width:100%; */
    color:#333;
    outline:none;
    border: 1px solid #ccc;
    padding:0.5rem 0.75rem;
}
.news-email:focus{
    border-color:#2563eb;
    box-shadow:0 4px 8px rgba(0,0,0,0.3)
}
.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border:none;
    border-radius:0.25rem;
    padding:0.5rem 1rem;
}
.news-send-button:hover{
    background-color: var(--link-color);
}
.privacy-policy{
    padding:0 2rem;
    font-size:0.76rem;
    color:#777;
}
.news-link{
    text-decoration: underline;
    color:#2563eb;
}
@media screen and (min-width:640px) {
    .news-title{
        font-size: 2.8rem;
    }
}
.footer-container{
    background-color: var(--background-color);
    margin:0 auto;
    padding:1.2rem 2rem;
    display: flex;
    flex-direction:column;
    max-width:1280px;
}
.footer{
    max-width:1280px;
    padding:0 2.4rem;
    text-align:left;
    display: flex;
    justify-content: space-between;
    gap:5rem;
    padding-right: 2rem;
}
.footer-top{
    width:34%;
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}
.comp-logo{
    display: flex;
    flex-direction: row;
    margin-bottom: -0.5rem;
    text-align: left;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color:black;
}
.filler-text{
    font-size:1rem;
    padding-left:1.3rem;
}
.logo-svg{
    width:4rem;
    height:5rem;
}
.social{
    padding:1.3rem;
    display: flex;
    flex-direction: row;
    gap:0.8rem;
}
.social-icon{
    width:1.5rem;
    height:1.5rem;
    object-fit: cover;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:5.6rem;
    padding:1.86rem 0.6rem;
    width:58%;
}
.footer-grid-headings{
    font-size:1.05rem;
    font-weight:bold;
    color:var(--text-color);
    margin-bottom:1.65rem;
}
ul{
    list-style-type: none;
}
.footer-link{
    color:#777;
    font-size:0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction:column;
    gap:1.2rem;
}
.footer-copyright{
    color:var(--gray);
    font-size:0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin:1.5rem;
    border-top:1px solid #E5E7EB;
}
@media screen and (max-width:1080px)
{
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding:10rem;
        justify-content: center;
        padding:0;
        margin-bottom: -2rem;
    }
    .footer-grid{
        padding-right:10rem;
        align-self:center;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:850px) {
    .footer-grid{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-top{
        padding:1rem;
        width:100%;
    }
}